# Problem Solving and Programing
## Day:- 14
## Date:- 17th May 2019

### Problem 1:-
#### Problem Statement:-
Define a function to raed from a CSV file using pandas
display the CSV file data as output

In [4]:
import pandas as pd
def readCSV(filename):
    df=pd.read_csv(filename)
    return df
readCSV('DataFiles/Income.csv')

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528
5,04000US07,Chicago,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [3]:
import pandas as pd
def readCSV(filename):
    df=pd.read_csv(filename)
    return df                                     # printing columns
df=readCSV('DataFiles/Income.csv')
df.columns

Index(['GEOID', 'State', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013'],
      dtype='object')

In [7]:
import pandas as pd
def readCSV(filename):
    df=pd.read_csv(filename)
    return df                                # printing the rows or values
df=readCSV('DataFiles/Income.csv')
df.columns
df.values

array([['04000US01', 'Alabama', 37150, 37952, 42212, 44476, 39980, 40933,
        42590, 43464, 41381],
       ['04000US02', 'Alaska', 55891, 56418, 62993, 63989, 61604, 57848,
        57431, 63648, 61137],
       ['04000US04', 'Arizona', 45245, 46657, 47215, 46914, 45739, 46896,
        48621, 47044, 50602],
       ['04000US05', 'Arkansas', 36658, 37057, 40795, 39586, 36538,
        38587, 41302, 39018, 39919],
       ['04000US06', 'California', 51755, 55319, 55734, 57014, 56134,
        54283, 53367, 57020, 57528],
       ['04000US07', 'Chicago', -999, -999, -999, -999, -999, -999, -999,
        -999, -999]], dtype=object)

In [13]:
import pandas as pd
def readCSV(filename):
    df=pd.read_csv(filename)
    return df                               # printing desired column 'or' row
df=readCSV('DataFiles/Income.csv')
df.columns[0]
df.values[0]

array(['04000US01', 'Alabama', 37150, 37952, 42212, 44476, 39980, 40933,
       42590, 43464, 41381], dtype=object)

In [19]:
import pandas as pd
def readCSV(filename):
    df=pd.read_csv(filename)
    return df                               # printing the desired row 'and' column            
df=readCSV('DataFiles/Income.csv')
for row in df.values:
    print('GeoID: ',row[0],'State: ',row[1])

GeoID:  04000US01 State:  Alabama
GeoID:  04000US02 State:  Alaska
GeoID:  04000US04 State:  Arizona
GeoID:  04000US05 State:  Arkansas
GeoID:  04000US06 State:  California
GeoID:  04000US07 State:  Chicago

In [20]:
import pandas as pd
def readCSV(filename):
    df=pd.read_csv(filename)
    return df                                           
df=readCSV('DataFiles/Income.csv')
type(df)

pandas.core.frame.DataFrame

In [23]:
import pandas as pd
def readCSV(filename):
    df=pd.read_csv(filename)              # printing the necessary(first) data
    return df                                           
df=readCSV('DataFiles/Income.csv')
df.head(3)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602

In [24]:
import pandas as pd
def readCSV(filename):
    df=pd.read_csv(filename)              # printing the necessary(last) data
    return df                                           
df=readCSV('DataFiles/Income.csv')
df.tail(3)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528
5,04000US07,Chicago,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [26]:
import pandas as pd
def readCSV(filename):
    df=pd.read_csv(filename)              # accessing the desired element in the given row
    return df                                           
df=readCSV('DataFiles/Income.csv')
df.iat[1,6]                                   # [row,column]

61604

In [28]:
import pandas as pd
def readCSV(filename):
    df=pd.read_csv(filename)              
    return df                                           
df=readCSV('DataFiles/Income.csv')
df.loc[2]

GEOID    04000US04
State      Arizona
2005         45245
2006         46657
2007         47215
2008         46914
2009         45739
2010         46896
2011         48621
2012         47044
2013         50602
Name: 2, dtype: object

In [56]:
import pandas as pd
def readCSV(filename):
    df=pd.read_csv(filename)              
    return df                                           
df=readCSV('DataFiles/Income.csv')
df.loc[2][0]   #df.iat[2,0]

'04000US04'

### Problem 2:-
#### Problem Statement:- 
Define a function to add new row data to a CSV file

In [57]:
def addRowCSV(filename,rowdata):
    df=readCSV(filename)
    df.loc[len(df)]=rowdata
    return df
rowdata=['010101','statename',123,4325,4564,9084,2773,3646,36363,25252,35353]
addRowCSV('DataFiles/Income.csv',rowdata)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528
5,04000US07,Chicago,-999,-999,-999,-999,-999,-999,-999,-999,-999
6,010101,statename,123,4325,4564,9084,2773,3646,36363,25252,35353
7,010101,statename,123,4325,4564,9084,2773,3646,36363,25252,35353

In [58]:
def addRowCSV(filename,rowdata):
    df=readCSV(filename) # get dataframe from CSV
    df.loc[len(df)]=rowdata # add a row to the dataframe
    df.to_csv(filename,index=False) # Send the dataframe back to CSV        
    return df
rowdata=['010101','statename',123,4325,4564,9084,2773,3646,36363,25252,3535]
addRowCSV('DataFiles/Income.csv',rowdata)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528
5,04000US07,Chicago,-999,-999,-999,-999,-999,-999,-999,-999,-999
6,010101,statename,123,4325,4564,9084,2773,3646,36363,25252,35353
7,010101,statename,123,4325,4564,9084,2773,3646,36363,25252,3535

### Problem 3:-
#### Problem Statement:- 
Define a function to update / modify a row in aCSV file

In [73]:
def updateRowCSV(filename, rowindex, rowdata):
    df = readCSV(filename)
    df.loc[rowindex] = rowdata
    df.to_csv(filename, index=False)
    return df

rowdata = ['04000US08','Florida',123,4325,4565,9084,83123,423,987,345,765]
readCSV('DataFiles/Income.csv')
updateRowCSV('DataFiles/Income.csv', 6, rowdata)

#df = df.drop('Unnamed: 0', axis=1)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528
5,04000US07,Chicago,-999,-999,-999,-999,-999,-999,-999,-999,-999
6,04000US08,Florida,123,4325,4565,9084,83123,423,987,345,765
7,010101,statename,123,4325,4565,9084,83123,423,987,345,765

### Problem 4:-
#### Problem Statement:- 
Define a function to delete the unwanted row from a CSV file

In [74]:
def deleteRowCSV(filename,rowindex):
    df=readCSV(filename)
    df=df.drop(rowindex)
    df.to_csv(filename,index=False)
    return df

In [77]:
filename='DataFiles/Income.csv'
rowindex=7
deleteRowCSV(filename,rowindex)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528
5,04000US07,Chicago,-999,-999,-999,-999,-999,-999,-999,-999,-999
6,04000US08,Florida,123,4325,4565,9084,83123,423,987,345,765

### Problem 5:-
#### Problem Statement:-
Generate marks of 2000 students in a CSV file with columns 
ROLL NO. and MARKS
from 221710400001 to 221710402000

In [4]:
import pandas as pd
from random import randint
def generateMarksReportCSV(MarksFile,nr,startroll):
    df=pd.read_csv(MarksFile)
    for i in range(0,nr):
        marks=randint(0,100)
        df.loc[len(df)]=startroll,marks
        df.to_csv(MarksFile,index=False)
        startroll+=1
    return df
generateMarksReportCSV('DataFiles/MarksFile.csv',2000,221710400001)

        rollnumber  marks
0     221710400001      2
1     221710400002     15
2     221710400003     37
3     221710400004     18
4     221710400005     89
5     221710400006     13
6     221710400007     47
7     221710400008     80
8     221710400009     83
9     221710400010      6
10    221710400011     80
11    221710400012     70
12    221710400013     74
13    221710400014     48
14    221710400015     66
15    221710400016     90
16    221710400017     33
17    221710400018     78
18    221710400019     85
19    221710400020      3
20    221710400021     21
21    221710400022     60
22    221710400023     86
23    221710400024     22
24    221710400025     57
25    221710400026     18
26    221710400027     63
27    221710400028     31
28    221710400029     98
29    221710400030     97
...            ...    ...
3970  221710401971     29
3971  221710401972     45
3972  221710401973     40
3973  221710401974     66
3974  221710401975     70
3975  221710401976     87
3976  221710401977     53
3977  221710401978     34
3978  221710401979     84
3979  221710401980     11
3980  221710401981     47
3981  221710401982      5
3982  221710401983     54
3983  221710401984     14
3984  221710401985     84
3985  221710401986     36
3986  221710401987     67
3987  221710401988      4
3988  221710401989     24
3989  221710401990      0
3990  221710401991      2
3991  221710401992     12
3992  221710401993     53
3993  221710401994     50
3994  221710401995     73
3995  221710401996     26
3996  221710401997     48
3997  221710401998     32
3998  221710401999     64
3999  221710402000     67

[4000 rows x 2 columns]