# Problem Solving and Programming
## Day No-5
## Date:-8 May 2019

## Printing statement

In [1]:
print('hello world')

hello world

## variable assignment

In [2]:
var1=4
var2=var1**var1
var3=var1*var2
print(var1,"  ",var2," ",var3)

4    256   1024

## count digits in a number

In [3]:
print(len(str(var3)))

4

## Getting the datatype of a variable

In [4]:
var3="dff"
type(var3)

str

## String slicing

In [5]:
str1="python programming"

str1[0]##printing the 1st character

'p'

In [6]:
str1[2:]

'thon programming'

In [7]:
str1[len(str1)-1]##accessing the lst character

'g'

In [8]:
str1[len(str1)-1::-1]  ## Reverse of a string

'gnimmargorp nohtyp'

In [9]:
str1[7:] * 10

'programmingprogrammingprogrammingprogrammingprogrammingprogrammingprogrammingprogrammingprogrammingprogramming'

## List -- Mutable

In [10]:
lii=[12, "string" , 9.76] #indexing starts from 0

lii

[12, 'string', 9.76]

In [11]:
len(lii) ## length of the list

3

In [12]:
lii[1] ## accessing a single element in the list

'string'

In [13]:
lii[2]='programming' ## replacing the existing element in the list
lii

[12, 'string', 'programming']

In [14]:
lii.append('python') ## to add ta element to the list
lii

[12, 'string', 'programming', 'python']

In [15]:
lii.pop()

'python'

In [16]:
lii

[12, 'string', 'programming']

In [17]:
lii.pop() ## pop without any index used to remove element at the end of the list

'programming'

In [18]:
lii

[12, 'string']

In [24]:
lii.append('programming')
lii

['string', 'programming']

In [25]:
lii.append(123) ## add the new element to the end of the string
lii

['string', 'programming', 123]

In [26]:
lii.pop(2) ## pop removes the element using index

123

In [29]:
li2=[[1,2,3],[4,5,6],[7,8,9]] ## multi dimensional list
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [30]:
li2[1][0] #accessing a single element in a list in multi dimensional list

4

In [31]:
for i in range(0,len(li2)):
    for j in range(0,len(li2[i])):
        print(li2[i][j] ,end=' ')

1 2 3 4 5 6 7 8 9

In [32]:
for i in range(len(li2)-1,-1,-1):
    for j in range(len(li2[i])-1,-1,-1):
        print(li2[i][j] ,end=' ')

9 8 7 6 5 4 3 2 1

## TUPLE --- immutable[ cannot be changed]

In [33]:
t1=(12,13,14)

In [34]:
t1[1]

13

In [35]:
t1[1:3]

(13, 14)

In [36]:
str(t1[0])[1]+ "  " +str(t1[1])[1]+"  "+str(t1[2])[1]

'2  3  4'

In [1]:
2+3

5

## Dictionaries

In [3]:
d1={'procedural':'c','scripting':'python','function':'haskel'}

In [4]:
d1['scripting']

'python'

In [5]:
d1.values()

dict_values(['c', 'python', 'haskel'])

In [6]:
d1.keys()

dict_keys(['procedural', 'scripting', 'function'])

In [9]:
d2={'Symbolic':'Mathematics','logic':'prolog'}
d1.update(d2)

In [11]:
d1['Object Oriented']='Java'
d1

{'procedural': 'c',
 'scripting': 'python',
 'function': 'haskel',
 'Symbolic': 'Mathematics',
 'Object Oriented': 'Java',
 'logic': 'prolog'}

In [12]:
d1['logic']

'prolog'

### Problem 1:
#### Problem Statement:
For a given number,define a function to check if it is divisible by 2,3 but not 4

#### Constraints
Given number will be in the range [1,1000000000]

#### Test cases

* Test case 1: check the divisibility(6)-> True
* Test case 2: check the divisibility(16)-> False
* Test case 3: check the divisibility(20)-> False

In [26]:
def checkdivisibility(n):
    if(n%2==0 and n%3==0 and n%4!=0):
        return True
    else:
        return False
checkdivisibility(16)

False